.container-progress {
  margin-left: 25px;
  max-width: 150px;
}

.container-progress span, .container-progress strong {
  color: #ded5df;
  font-family: 'Nunito', sans-serif;
}

.container-progress span {
  margin-top: -10;
  font-size: 15px;
  font-weight: 600;
}
.container-progress strong {
  font-size: 20px;
}