.links-redes {
  height: 80px;
  width: 80px;
}

.links-redes:hover {
  height: 83px;
  width: 83px;
}

.container-links-redes {
  display: flex;
  position: absolute;
  right: 30%;
  bottom: 100px;
  width: 220px;
  height: 100px;
  justify-content: space-between;
}