.about-page {
  min-height: 100Vh;
  background-color: #000;
}

.about-page .sobre {
  position: absolute;
  display: block;
  right: 10%;
  top: 150px;
  color: #ded5df;;
  font-family: 'Nunito', sans-serif;
  width: 45%;
  font-size: 20px;
  line-height: 30px;
}

.myImage {
  height: 40%;
  width: 40%;
  margin-top: 120px;
}