.container-datails {
  min-height: 100vh;
  background-color: #000;
  color: #ded5df;
  font-family: 'Nunito', sans-serif;
}

.container-left,
.container-right {
  height: 90vh;
  display: inline-block;
}

.container-right {
  margin-top: 5%;
  margin-left: 50%;
  width: 49%;
}

.container-left {
  width: 40%;
  margin-left: 10%;
  margin-top: 5%;
  position: absolute;
}

.container-right .div-progress {
  display: flex;
  flex-direction: row-reverse;
  width: 70%;
  justify-content: space-between;
  margin: 10px auto;
}

.container-datails img {
  display: block;
  width: 70%;
  margin: 10% auto;
  background-color: #ded5df;
  padding: 5px;
}

.container-right p {
  display: block;
  margin: 10% auto;
  width: 90%;
  font-size: 25px;
}

.container-datails .skills {
  display: block;
  font-size: 20px;
  margin: 20% auto;
  width: 85%;
}

.container-right .div-buttons button {
  width: 150px;
  height: 47px;
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #ded5df;
  background: linear-gradient(
    180deg,
    rgb(94, 0, 128) 0%,
    rgb(167, 0, 194) 51.56%,
    rgb(255, 0, 229) 100%
  );
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.container-right .div-buttons button:hover {
  width: 152px;
  height: 48px;
}

.container-right .div-buttons {
  display: flex;
  align-items: center;
  margin: 15% auto 0 auto;
  justify-content: space-between;
  width: 350px;
  height: 100px;
}
